<div class="container text-center">
  <h1>Request a ride through our awesome WebApp !</h1>
  <p>Just login with Uber and authorize the access to your account, you're all set !</p>
  <%= link_to "Request a ride now !", new_ride_path, class: "btn btn-warning btn-lg" %>

</div>

